[Desktop Entry]
Name=PyCharm 2025.1.1.1
Exec="/home/artem/.local/share/JetBrains/Toolbox/apps/pycharm/bin/pycharm" %u
Version=1.0
Type=Application
Categories=Development;IDE;
Terminal=false
Icon=/home/artem/.local/share/JetBrains/Toolbox/apps/pycharm/bin/pycharm.svg
Comment=The Only Python IDE you need
StartupWMClass=jetbrains-pycharm
StartupNotify=true
